@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ansible Pipeline Demo</h1>
    <p>Congratulations, Site is accessible..</p>
</div>
